[submodule "vendor/phpspreadsheet"]
	path = vendor/phpspreadsheet
	url = https://github.com/PHPOffice/PhpSpreadsheet.git
[submodule "vendor/PHPMailer"]
	path = vendor/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "vendor/mpdf"]
	path = vendor/mpdf
	url = https://github.com/mpdf/mpdf.git
